<footer>
    <div class="main-footer">
        <div class="footer-newslatter">
            <div class="container-fluid">
                <div class="wrapbox-newslatter">
                    <div class="newslatter-form">
                        <div class="newslatter-title">
                            Đăng ký nhận tin
                        </div>
                        <div class="newslatter-content">
                            <form action="" class="contact-form" method="post">
                                <div class="form-group input-group">
                                    <input required="" type="email" name="contact[email]"
                                        class="form-control newslatter-input" id="newsletter-email"
                                        pattern="^(.)+@[A-Za-z0-9]([A-Za-z0-9.\-]*[A-Za-z0-9])?\.[A-Za-z]{1,13}$"
                                        placeholder="Nhập email của bạn" aria-label="Email Address">
                                    <div class="input-group-btn">
                                        <button type="submit" class="btn-submit">Đăng ký</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-container">
            <div class="footer-expand">
                <div class="container-fluid footer-fluid">
                    <div class="row">
                        <div class="col-3">
                            <h4 class="title-footer">Xe Đạp Dung Chinh</h4>
                            <div class="row block-collapse content-footer">
                                <div class="col-12">
                                    <p class="title-add">
                                        Số ĐKKD/QĐTL:0311469651 Trụ sở Doanh nghiệp: A29/19 Quốc lộ 50, Xã Bình Hưng,
                                        Huyện Bình Chánh, HCM Quốc gia: Việt Nam
                                    </p>
                                    <div class="address-footer">
                                        <ul>
                                            <li class="contact-1">
                                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                1067 Tạ Quang Bửu, phường 6, quận 8, Tp. HCM. Chi Nhánh Miền Bắc: Kho
                                                E3, CTy CP Len Hà Đông, số 63 Vạn Phúc, Hà Đông, Hà Nội.
                                            </li>
                                            <li class="contact-2">
                                                <i class="fa fa-phone" aria-hidden="true"></i>
                                                1998738220 - 0937026887
                                            </li>
                                            <li class="contact-3">
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                                dungchinhbike741@gmail.com
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer-social">
                                        <div class="social-title">Kết nối chúng tôi</div>
                                        <ul class="social-icon">
                                            <li><a href=""><i class='bx bxl-facebook'></i></a></li>
                                            <li><a href=""><i class='bx bxl-twitter'></i></a></li>
                                            <li><a href=""><i class='bx bxl-instagram-alt'></i></a></li>
                                            <li><a href=""><i class='bx bxl-google-plus'></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <h4 class="title-footer">Hỗ trợ khách hàng</h4>
                            <div class="row block-collapse content-footer">
                                <ul class="footernav-link">
                                    <li class="nav-item"><a href="">TRANG CHỦ</a></li>
                                    <li class="nav-item"><a href="">XE ĐẠP SWAT</a></li>
                                    <li class="nav-item"><a href="">XE ĐẠP DC</a></li>
                                    <li class="nav-item"><a href="">HƯỚNG DẪN</a></li>
                                    <li class="nav-item"><a href="">TIN TỨC</a></li>
                                    <li class="nav-item"><a href="">LIÊN HỆ</a></li>

                                </ul>
                                <div class="footer-payment">
                                    <div class="payment-title">Phương thức thanh toán</div>
                                    <ul class="payment-icon">
                                        <li> <img src="/congkhai/pageClient/fe/images/momo.jpg"
                                                alt=""></li>
                                        <li> <img src="/congkhai/pageClient/fe/images/banking.png"
                                                alt=""></li>
                                        <li> <img src="/congkhai/pageClient/fe/images/payment_3_img.webp"
                                                alt=""></li>
                                        <li> <img src="/congkhai/pageClient/fe/images/cod.jpg"
                                                alt=""></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <h4 class="title-footer">Liên kết</h4>
                            <div class="row block-collapse content-footer">
                                <ul class="footernav-link">
                                    <li class="nav-item"><a href="">TRANG CHỦ</a></li>
                                    <li class="nav-item"><a href="">XE ĐẠP SWAT</a></li>
                                    <li class="nav-item"><a href="">XE ĐẠP DC</a></li>
                                    <li class="nav-item"><a href="">HƯỚNG DẪN</a></li>
                                    <li class="nav-item"><a href="">TIN TỨC</a></li>
                                    <li class="nav-item"><a href="">LIÊN HỆ</a></li>

                                </ul>

                            </div>
                        </div>
                        <div class="col-3">
                            <h4 class="title-footer">Chính sách</h4>
                            <div class="row block-collapse content-footer">
                                <ul class="footernav-link">
                                    <li class="nav-item"><a href="">TRANG CHỦ</a></li>
                                    <li class="nav-item"><a href="">XE ĐẠP SWAT</a></li>
                                    <li class="nav-item"><a href="">XE ĐẠP DC</a></li>
                                    <li class="nav-item"><a href="">HƯỚNG DẪN</a></li>
                                    <li class="nav-item"><a href="">TIN TỨC</a></li>
                                    <li class="nav-item"><a href="">LIÊN HỆ</a></li>

                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright text-center">
                    <div class="container">
                        <p>Copyright © 2024
                            <a href="#"> Dung Chinh</a> .
                            Design by Khanhho
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>





<!-- chatbox dialog -->
<script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="/congkhai/pageClient/fe/js/main.js"></script>


<df-messenger
  intent="WELCOME"
  chat-title="dungchinh_xedap"
  agent-id="c30d3711-3014-47d8-b6a2-6fdb49c5c152"
  language-code="vi"
></df-messenger>



  <!-- Mã nhúng Messenger -->
  <div id="fb-root"></div>
  <script>
      window.fbAsyncInit = function () {
          FB.init({
              xfbml: true,
              version: 'v12.0'
          });
      };

      (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>

  <!-- Nhúng Messenger vào trang -->
  <div class="fb-customerchat"
   attribution="setup_tool"
    page_id="230118520194464" 
    theme_color="#0084FF">
  </div>



<script>
    // <![CDATA[  <-- For SVG support
    if ('WebSocket' in window) {
        (function () {
            function refreshCSS() {
                var sheets = [].slice.call(document.getElementsByTagName("link"));
                var head = document.getElementsByTagName("head")[0];
                for (var i = 0; i < sheets.length; ++i) {
                    var elem = sheets[i];
                    var parent = elem.parentElement || head;
                    parent.removeChild(elem);
                    var rel = elem.rel;
                    if (elem.href && typeof rel != "string" || rel.length == 0 || rel.toLowerCase() == "stylesheet") {
                        var url = elem.href.replace(/(&|\?)_cacheOverride=\d+/, '');
                        elem.href = url + (url.indexOf('?') >= 0 ? '&' : '?') + '_cacheOverride=' + (new Date().valueOf());
                    }
                    parent.appendChild(elem);
                }
            }
            var protocol = window.location.protocol === 'http:' ? 'ws://' : 'wss://';
            var address = protocol + window.location.host + window.location.pathname + '/ws';
            var socket = new WebSocket(address);
            socket.onmessage = function (msg) {
                if (msg.data == 'reload') window.location.reload();
                else if (msg.data == 'refreshcss') refreshCSS();
            };
            if (sessionStorage && !sessionStorage.getItem('IsThisFirstTime_Log_From_LiveServer')) {
                console.log('Live reload enabled.');
                sessionStorage.setItem('IsThisFirstTime_Log_From_LiveServer', true);
            }
        })();
    }
    else {
        console.error('Upgrade your browser. This Browser is NOT supported WebSocket for Live-Reloading.');
    }

    var usernameCookie = document.cookie.match(/(^|;) ?Username=([^;]*)(;|$)/)[2];
    var decodedString = decodeURIComponent(usernameCookie);
    if (usernameCookie) {

        var ulElement = document.querySelector(".menu-icon"); // Lấy thẻ ul
        // Tạo một phần tử li mới
        var newLi = document.createElement("li");
        newLi.classList.add("nav-item", "mx-2");
        newLi.innerHTML = `<a class="nav-link text-dark" href="/profile">${decodedString}</a>`;

        // Chèn phần tử mới vào trước phần tử có id là Username
        ulElement.append(newLi);


    } else {
        document.querySelector("#Username").classList.add("display-none");
        document.cookie = "Username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    }


</script>
</body>

</html>