<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Xe đạp Dung Chinh</title>
  <link rel="shortcut icon" href="/congkhai/pageClient/fe/images/DC.png" type="image/x-icon">
  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/style.css">
  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/account.css">
  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/shop.css">
  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/blog.css">
  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/guild.css">

  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/contact.css">
  <link rel="stylesheet" href="/congkhai/pageClient/fe/css/detailproduct.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.3/components/blogs/blog-3/assets/css/blog-3.css">

    <script src='https://www.google.com/recaptcha/api.js' async defer ></script>
</head>

<body>
  <!-- Header -->
  <Header>
    <div class="header-top">
      <div class="container-fluid">
        <div class="box-content d-flex align-items-center justify-content-between">
          <div class="box-left d-flex align-items-center">
            <div class="hotline">
              <span>
                <i class='bx bxs-truck'></i>
                Giao hàng và vận chuyển trên toàn quốc
              </span>
            </div>
            <div class="contact">
              <a href="/contact">Liên hệ: 00937026887 - 0971 455 232</a>
            </div>
          </div>
          <div class="box-right">
            <div class="content-head d-flex align-tems-center">
              <a href="/signin"><i class='bx bx-user'></i><span>Đăng nhập / Đăng ký</span></a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="mainHeader bg-white" style="min-height: 90px;">
      <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="/home"><img
              src="/congkhai/pageClient/fe/images/Satelite Bike.png" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="menu-nav navbar-nav ms-auto ">
              <li class="nav-item">
                <a class="nav-link mx-2 active" aria-current="page" href="/home">Trang Chủ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/shop">Xe đạp Swat</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/shop">Xe đạp DC</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/guild">Hướng Dẫn</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/blog">Bài Viết</a>
              </li>
              <li class="nav-item">
                <a class="nav-link mx-2" href="/contact">Liên Hệ</a>
              </li> 
            </ul>
            <ul class="menu-icon navbar-nav ms-auto d-none d-lg-inline-flex">
            
              
              
              <li class="nav-item mx-2">
                <a class="nav-link text-dark" href="#"><i class='bx bx-bell'></i></a>
              </li>
            


              <li class="nav-item mx-2">
                <a class="nav-link text-dark" href="#" id="searchPopover" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="<form class='form-inline my-2 my-lg-0'>
                  <input class='form-control mr-sm-2' type='search' placeholder='Search' aria-label='Search'>
                </form>">
                  <i class='bx bx-search-alt-2'></i>
                </a>
              </li>

              

              <li class="nav-item mx-2">
                <a class="nav-link text-dark" href="/cart">
                    <i class='bx bxs-shopping-bag'></i>
                    <span class="cart_view">0</span>
                </a>
            </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>



  </Header>



  <a href="#" class="scrollTop" id="buttonTop"><i class='bx bx-up-arrow-alt' style="font-size: 30px !important;"></i></a>

  <script>
    var mybutton = document.getElementById("buttonTop");
  
    window.onscroll = function() {
      scrollFuncition()
    }

    function scrollFuncition() {
      if(document.body.scroll > 500 || document.documentElement.scrollTop > 500) {
        mybutton.style.display = "block";
      }
      else {
        mybutton.style.display = "none";
      }
    }

    document.addEventListener('DOMContentLoaded', function () {
      var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
      var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
        return new bootstrap.Popover(popoverTriggerEl, {
          html: true,
          sanitize: false,
          placement: 'bottom',
        boundary: 'viewport'
        })
      })
    });
  
    document.addEventListener("DOMContentLoaded", function() {
      // Kiểm tra xem có dữ liệu trong localStorage không
      if (localStorage.getItem("giohang")) {
          // Lấy dữ liệu từ localStorage và chuyển đổi thành mảng JavaScript
          var cartItems = JSON.parse(localStorage.getItem("giohang"));
  
          // Tính tổng số lượng sản phẩm trong giỏ hàng
          var totalItems = cartItems.reduce(function(total, item) {
              return total + parseInt(item.soluong);
          }, 0);
  
          // Cập nhật số lượng sản phẩm trong span cart_view
          document.querySelector(".cart_view").textContent = totalItems;
      } else {
          // Nếu giỏ hàng trống, đặt số lượng sản phẩm trong span cart_view là 0
          document.querySelector(".cart_view").textContent = 0;
      }
  });
  
  </script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXlNHj/8i/mS+JbQa5Pc4ILdIuvvg+2K5LG9lvrsEu9gIMpD5Bsi5eE7amwp" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGLeiJ6FdBgGY+Vr56vylq3tvk7+2K5LG9lvrsEu9gIMpD5Bsi5eE7amwp" crossorigin="anonymous"></script>