  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
 
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header">MENU CHÍNH</li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="http://localhost:8082/admin/v1"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="label label-primary pull-right">4</span>
          </a>
          <ul class="treeview-menu">
            <li><a href="../layout/top-nav.html"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a href="../layout/boxed.html"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a href="../layout/fixed.html"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a href="../layout/collapsed-sidebar.html"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        <li>
          <a href="../widgets.html">
            <i class="fa fa-th"></i> <span>Widgets</span>
            <small class="label pull-right bg-green">Hot</small>
          </a>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa fa-pie-chart"></i>
            <span>Charts</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="../charts/chartjs.html"><i class="fa fa-circle-o"></i> ChartJS</a></li>
            <li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i> Morris</a></li>
            <li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
            <li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i> Inline charts</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa-solid fa-users" style="margin-right: 4px;"></i>
            <span>Accounts</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/v1/accounts"><i class="fa fa-circle-o"></i>User</a></li>
            <li><a href="/admin/v1/customer"><i class="fa fa-circle-o"></i> Customer</a></li>
            <li><a href="/admin/v1/staff"><i class="fa fa-circle-o"></i> Staff</a></li>
            <li><a href="/admin/v1/stafftype"><i class="fa fa-circle-o"></i> StaffType</a></li>
          </ul>
        </li>


        <li class="treeview">
          <a href="#">
            <i class="fa-solid fa-bicycle" style="margin-right: 4px;"></i>
            <span>Product</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/v1/product"><i class="fa fa-circle-o"></i>Product</a></li>
            <li><a href="/admin/v1/producttype"><i class="fa fa-circle-o"></i> ProductType</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa-solid fa-warehouse" style="margin-right: 4px;"></i> <span>WareHouse</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/v1/warehouse"><i class="fa fa-circle-o"></i> WareHouse</a></li>
            <li><a href="/admin/v1/warehousedetail"><i class="fa fa-circle-o"></i> WareHouse Details</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="/admin/v1/supplier">
            <i class="fa-solid fa-truck-field-un" style="margin-right: 4px;"></i>
            <span>Supplier</span>
          </a>
        </li>

        <li class="treeview">
          <a href="#">
            <i class="fa-solid fa-truck-fast" style="margin-right: 4px;"></i> <span>Imported</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/v1/imported"><i class="fa fa-circle-o"></i> Imported products</a></li>
            <li><a href="/admin/v1/importeddetail"><i class="fa fa-circle-o"></i> Imported products Detail</a></li>
          </ul>
        </li>

      
        <li class="treeview">
          <a href="#">
            <i class="fa fa-edit" style="margin-right: 2px;"></i> <span>Invoice</span>
            <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a href="/admin/v1/invoice"><i class="fa fa-circle-o"></i> Invoice</a></li>
            <li><a href="/admin/v1/invoicedetail"><i class="fa fa-circle-o"></i> Invoice Details</a></li>
          </ul>
        </li>
      
        <li class="treeview">
          <a href="/admin/v1/deliverynotes">
            <i class="fa-regular fa-note-sticky" style="margin-right: 5px;"></i>
            <span>DeliveryNote</span>
          </a>
        </li>
      
        <li><a href="/admin/v1/document"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
        <li class="header">LABELS</li>
        <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
        <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
